
  
   <style media="screen">

    .container {
      display: flex;
      gap: 20px;
    }
    .card {
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      overflow: hidden;
      width: 300px;
      text-align: center;
    }

    .card-icon {
      font-size: 2em;
      color: #3498db;
      margin-top: 20px;
    }

    .card-content {
      padding: 20px;
    }

    .card-title {
      font-size: 1.5em;
      color: #333;
      margin-bottom: 10px;
    }

    .card-description {
      font-size: 1em;
      color: #777;
    }
  </style>
  <div class="container">
  <div class="card">
    <div class="card-icon">&#127918;</div>
    <div class="card-content">
      <div class="card-title">{{doctorName}}</div>
      <div class="card-description">Nom du docteur</div>
    </div>
  </div>

  <div class="card">
    <div class="card-icon">&#128073;</div>
    <div class="card-content">
      <div class="card-title">{{symptoms}}</div>
      <div class="card-description">Symptomes</div>
    </div>
  </div>
  <div class="card">
    <div class="card-icon">&#128200;</div>
    <div class="card-content">
      <div class="card-title">{{doctorMobile}}</div>
      <div class="card-description">Numéro du Docteur                                                         </div>
    </div>
  </div>

</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="container">
  <div class="card">
    <div class="card-icon">&#127918;</div>
    <div class="card-content">
      <div class="card-title">{{doctorName}}</div>
      <div class="card-description">Nom du docteur</div>
    </div>
  </div>

  <div class="card">
    <div class="card-icon">&#128073;</div>
    <div class="card-content">
      <div class="card-title">{{symptoms}}</div>
      <div class="card-description">Symptomes</div>
    </div>
  </div>
  <div class="card">
    <div class="card-icon">&#128200;</div>
    <div class="card-content">
      <div class="card-title">{{doctorMobile}}</div>
      <div class="card-description">Numéro du Docteur                                                         </div>
    </div>
  </div>

</div>



  <div class="market-updates">
    <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-1">
        <div class="col-md-8 market-update-left">
          <h3>{{doctorAddress}}</h3>
          <h4>Doctor Address</h4>
        </div>
        <div class="col-md-4 market-update-right">
          <i class="fa fa-map-marker"> </i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-2">
        <div class="col-md-8 market-update-left">
          <h3>{{doctorDepartment}}</h3>
          <h4>Doctor Department</h4>
        </div>
        <div class="col-md-4 market-update-right">
          <i class="fa fa-list-alt"></i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-3">
        <div class="col-md-8 market-update-left">
          <h3>{{admitDate}}</h3>
          <h4>Admit Date</h4>
        </div>
        <div class="col-md-4 market-update-right">
          <i class="fa fa-calendar-o" aria-hidden="true"></i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>

  

